@import url('https://fonts.cdnfonts.com/css/montserrat');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
body{
  margin:0 0 0 110px;
  font-family:'Montserrat';
  font-size:25px;
  font-weight:800;
  background-color:rgba(0,0,0,0);
}
.gpd-box{
  padding:5px 0;
}
#ib6g{
  position:absolute;
  top:15%;
  left:35%;
  margin:0 0 0 0;
  width:393px;
  height:449px;
  max-width:393px;
  min-height:449px;
  background-color:#071689;
  border-radius:30px 30px 30px 30px;
}
#i80k{
  padding:5px 0 5px 0;
  width:116px;
  height:116px;
  max-width:116px;
  min-height:116px;
  margin:24px 0 0 141px;
  background-color:#D9D9D9;
  border-radius:60px 60px 60px 60px;
  position:static;
}
#i8jn{
  color:black; 
  margin:13px 0 0 18px;
}
#iqar{
  margin:0 0 0 110px;
  font-family: 'Montserrat';
  font-size:25px;
  font-weight:800;
  color:#ffffff;
}
#i1xl{
  width:294px;
  height:52px;
  margin:-43px 0 0 56px;
}
#isy01{
  width:294px;
  height:52px;
  margin:25px 0 0 49px;
  background-color:#071269;
  border-radius: 15px;
}
#iap34{
  width:52px;
  height:52px;
  margin:-5px 0 0 0;
  background-color:#2635A9;
  border-radius: 15px;
}
#i5gvu{
  color:black;
  margin:-1px 0 0 3px;
  width:47px;
  height:45px;
}
#imx7y{
  display:none;
}
#iol11{
  display:none;
}
#ip4jh{
  width:276px;
  margin:-140px 0 16px 104px;
  background-color:rgba(255,255,255,0);
  opacity:1;
  border-radius:0 0 0 0;
}
#icoqw{
  margin:10px 0 0 3px;
}
#i11sz{
  background-color:rgba(255,255,255,0);
  border:0.727273px solid rgba(0,0,0,0);
  margin: 20px 0 0 21px;
  transform: translateX(-4px) translateY(-0.5px);
  font-family:'Montserrat';
  color:#ffffff;
}
#iejjd{
  margin: -5px 0 0 21px;
  background-color:rgba(255,255,255,0);
  border:0.727273px solid rgba(0,0,0,0);
  font-family:'Montserrat';
}
#ia8pj{
  border: 0;
  border-radius: 5px;
  background: #2635A9;
  color: #fff;
  padding: 8px 16px;
  font-size: 20px;
  margin: 22px 0 0 0px;
  width: 168px;
  height: 53px;
  font-family: 'Montserrat';
  font-weight: 800;
}
#im0qj{
  margin:64px 22px 0 -22px;
}
#iu2ie{
  margin:-7px 25px 0 -17px;
}
#i6c5k{
  width:52px;
  height:52px;
  margin:-5px 0 0 0;
  background-color:#2635A9;
  border-radius: 15px;
}
#inn4j{
  width:294px;
  height:52px;
  margin:32px 0 0 49px;
  background-color:#071269;
  border-radius: 15px;
}
#i1gbk{
  color:black;
  width:40px;
  height:40px;
  margin:1px 0 0 6px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gpd-header{
  margin:0;
}
#igi7u{
  text-align:center;
  color:#071689;
  font-size:30px;
  margin:29px 0 0 114px;
}
#ib7xt{
  width:343px;
  height:110px;
  max-width:343%;
  min-height:110px;
  border-radius:16px 16px 16px 16px;
  background-color:rgb(185, 101, 198);
  margin:10px 0 0 0;
}
#ihlpo{
  width:343px;
  height:110px;
  border-radius:16px 16px 16px 16px;
  background-color:rgb(185, 101, 198);
  margin:10px 0 0 10px;
}
#i872l{
  width:343px;
  height:110px;
  border-radius:16px 16px 16px 16px;
  background-color:rgb(185, 101, 198);
  margin:10px 0 0 10px;
}
#ise7x{
  width:343px;
  height:110px;
  border-radius:16px 16px 16px 16px;
  background-color:rgb(185, 101, 198);
  margin:10px 0 0 10px;
}
#iedrb{
  width:343px;
  height:110px;
  border-radius:16px 16px 16px 16px;
  background-color:rgb(185, 101, 198);
  margin:10px 0 0 0;
}
#irr49{
  width:343px;
  height:110px;
  border-radius:16px 16px 16px 16px;
  background-color:rgb(185, 101, 198);
  margin:10px 0 0 10px;
}
#iacvj{
  width:343px;
  height:110px;
  border-radius:16px 16px 16px 16px;
  background-color:rgb(185, 101, 198);
  position:absolute;
  top:auto;
  right:0%;
  bottom:0%;
  left:0%;
  margin:0 0 0 0;
}

  /* ВТОРАЯ СТРАНИЦА */
.days-of-week-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.days-of-week-text {
  color: #071689;
  font-size: 30px;
  font-family: 'Montserrat';
  padding-top: var(--dl-space-space-threeunits);
}
.days-of-week-navlink {
  display: contents;
}
.days-of-week-container1 {
  flex: 0 0 auto;
  width: 343px;
  height: 110px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  border-style: dashed;
  border-width: 0px;
  border-radius: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #B965C6;
}
.days-of-week-text1 {
  color: #ffffff;
  font-size: 25px;
  font-family: "Montserrat-Bold";
}
.days-of-week-container2 {
  flex: 0 0 auto;
  width: 343px;
  height: 110px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  border-style: dashed;
  border-width: 0px;
  border-radius: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #B965C6;
}
.days-of-week-text2 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Montserrat-Bold";
}
.days-of-week-container3 {
  top: 112px;
  flex: 0 0 auto;
  right: 32px;
  width: 343px;
  height: 110px;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  border-style: dashed;
  border-width: 0px;
  border-radius: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #B965C6;
}
.days-of-week-text3 {
  color: #ffffff;
  font-size: 25px;
  font-family: "Montserrat-Bold";
}
.days-of-week-container4 {
  top: 256px;
  flex: 0 0 auto;
  right: 32px;
  width: 343px;
  height: 110px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-end;
  align-items: center;
  border-style: dashed;
  border-width: 0px;
  border-radius: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #B965C6;
}
.days-of-week-text4 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Montserrat-Bold";
}
.days-of-week-container5 {
  top: 112px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 343px;
  height: 110px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-style: dashed;
  border-width: 0px;
  border-radius: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #B965C6;
}
.days-of-week-text5 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Montserrat-Bold";
}
.days-of-week-container6 {
  top: 256px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 343px;
  height: 110px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-style: dashed;
  border-width: 0px;
  border-radius: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #B965C6;
}
.days-of-week-text6 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Montserrat-Bold";
}
.days-of-week-container7 {
  top: 400px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 343px;
  height: 110px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  border-style: dashed;
  border-width: 0px;
  border-radius: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #B965C6;
}
.days-of-week-text7 {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: "Montserrat-Bold";
}