@import url('https://fonts.cdnfonts.com/css/montserrat');

.body
{
  margin: 0;
}

.res_text
{
  color: #071689;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

}

.res_text p
{
  font-size: 25px;
}
.imgres
{
  margin-top: 20px;
}

.container
{
  display: flex;
  justify-content: center;
}
.form
{
  width: 60vh;
  height: auto;
  background-color: #071689;
  border-radius: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  color:white;
  font-size: 20px;
}
.login-logo
{
  width: 20%;
  height: auto;
}
.input
{
  padding-left: 15px;
  background-color: #071269;
  border:none;
  width: 60%;
  height: 25px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  color:white;
  font-size: 15px;
}

.input-img
{
  width: 50px;
  height: 50px;
}
.input-line
{
  display: block;
}