@import url('https://fonts.cdnfonts.com/css/montserrat');

.body
{
  margin: 0;
}

.res_text
{
  color: #071689;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

}

.res_text p
{
  font-size: 25px;
}
.imgres
{
  margin-top: 20px;
}

.container
{
  display: flex;
  justify-content: center;
}
.form
{
  width: 60vh;
  height: auto;
  background-color: #071689;
  border-radius: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  color:white;
  font-size: 20px;
  padding: 15px;
}
.login-logo
{
  width: 30%;
  height: auto;
}
.input-img
{
  height: auto;
  width: auto;
}
.input-line
{
  width: 110%;
  display: flex;
  height: 30px;
  margin-bottom: 15px;
}

.input
{
  width: 70%;
  background-color: #071269;
  font-family: "Montserrat";
  font-weight: 500;
  color:white;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bt
{
  border: none;
  width: 70%;
  font-family: "Montserrat";
  font-weight: 700;
  color:white;
  font-size: 15px;
  border-radius: 10px;
  background-color: #2635A9;
  padding: 10px;
}
.link
{
  text-decoration: none;
  color:white;
  font-size: 13px;
}
link:hover
{
  color: rgb(237,237,237);
}
