<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" href="{{ url_for('static', filename='css/first.css') }}" rel="stylesheet">
        <title>Система автоматического обновления расписания</title>
    </head>
    <body>
        <h1 id="igi7u" class="gpd-header">Выберите день недели
        </h1>
        <a id="ib7xt" href="//6b96e5b.grapedrop.net/page-2" class="gpd-link-box"></a>
        <a class="gpd-link-box" id="ihlpo"></a>
        <a class="gpd-link-box" id="irr49"></a>
        <a class="gpd-link-box" id="iedrb"></a>
        <a class="gpd-link-box" id="ise7x"></a>
        <a class="gpd-link-box" id="i872l"></a>
        <a class="gpd-link-box" id="iacvj"></a>
            
    </body>
</html>