<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" href="{{ url_for('static', filename='css/first.css') }}" rel="stylesheet">
        <title>Система автоматического обновления расписания</title>
    </head>
    <body>
        <div id="ib6g" class="gpd-box">
            <div id="i80k" class="gpd-box">
            <img id="i8jn" src="https://cdn.grapedrop.com/udf2d17da5fc744db88ec2c8dad39e396/f86679dbc8e54733aec550e1fa4ed09d_0_1.png"/>
            </div>
            <div id="i1xl" class="gpd-box">
            </div>
            <div id="iqar" class="gpd-text">
            <strong>Система автоматического обновления расписания</strong>
            
    </body>
</html>