<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet">
        <title>Система автоматического обновления расписания</title>
    </head>
    <body>
        <div class = "content">
            Выберите день недели
            <form action="/uploadtest" method="post" enctype="multipart/form-data">
                <div class = "subcontent">
                    <div class = "content-block">
                        <p>Первая смена</p>
                        <label class="input-file">
                            <input type="file" name="file">		
                            <span>Выберите файл</span>
                        </label>
                    </div>
                    <div class = "content-block">
                        <p>Вторая смена</p>
                        <input type="file" name="file2" class = "file-block" accept=".png, .pdf, .jpg, .jpeg">>
                    </div>
                </div>
            </form>
        </div>     
    </body>
</html>