<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet">
        <title>Система автоматического обновления расписания</title>
    </head>
    <body>
        <div class = "content">
            Выберите день недели
            <form action="/uploadtest" method="post" enctype="multipart/form-data">
                <div class = "subcontent">
                    <div class = "content-block">
                        <p style="
                                font-size: 24px;
                                margin: 20px 0px 40px 0px;
                                ">Первая смена</p>
                        <label class="input-file">
                            <input type="file" name="file">		
                            <span>Выберите файл</span>
                        </label>
                    </div>
                    <div class = "content-block">
                        <p style="
                        font-size: 24px;
                        margin: 20px 0px 40px 0px; 
                        ">Вторая смена</p>
                        <label class="input-file">
                            <input type="file" name="file">		
                            <span>Выберите файл</span>
                        </label>
                    </div>
                </div>
                <button class = "upload" type="submit">Загрузить</button>
                <button class = "go_back">Назад к выору дня недели</button>
            </form>
        </div>     
    </body>
</html>